<%= form_for(@read) do |f| %>
  <% if @read.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@read.errors.count, "error") %> prohibited this read from being saved:</h2>

      <ul>
      <% @read.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div> -->
  <div class="field">
    <%= f.label :reading %><br />
    <%= f.text_area :reading, :rows => 14, :cols => 130 %>
  </div>
<!--  <div class="field">
    <%= f.label :poster %><br />
    <%= f.text_field :poster %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
